body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    background-color: #f9f9f9;
}

.chat-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    background-color: #fff;
    border-radius: 10px;
}

.chat-box {
    background-color: #e8e8e8;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 30px;
    overflow-y: scroll;
    height: 60vh;
    box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.1);
}

.chat-message {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    border: 1px solid #e5e5e5;
    transition: background-color 0.3s ease;
}

.chat-message:hover {
    background-color: #f5f5f5;
}

.chat-message p {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    color: #333;
}

.chat-input {
    display: flex;
    margin-top: 30px;
    border-top: 1px solid #e5e5e5;
    padding-top: 20px;
}

.chat-input input {
    flex: 1;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 20px;
    font-family: 'Noto Sans KR', sans-serif;
}

.chat-input button {
    background-color: #ff6464;
    color: #fff;
    border: none;
    padding: 15px 25px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Noto Sans KR', sans-serif;
}

.chat-input button:hover {
    background-color: #ff3f3f;
}

.assistant {
    color: blue;
}

.chat-message.user {
    background-color: #e8f0fe;
    color: #1967d2;
    margin-left: 50px;
    border: 1px solid #1967d2;
}

.chat-message.bot {
    background-color: #f9f9f9;
    color: #202124;
    margin-right: 50px;
    border: 1px solid #e5e5e5;
}

.chat-message.user:hover {
    background-color: #dce6f7;
}

.chat-message.bot:hover {
    background-color: #f5f5f5;
}

.intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-container img {
    width: 50%;
    min-width: 300px;
}

#loader {
    font-size: 1rem;
}

.kakao-ad {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    min-width: 350px;
    min-height: 200px;
}

.coffee-donation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
}

.coffee-donation a {
    color: #000;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}

.coffee-donation a:hover {
    background-color: lightgray;
}

.coffee-icon {
    width: 30px;
    height: auto;
    border-radius: 50%;
    margin-right: 5px;
}

#left-botton {
    margin-right: 30px;
}

.toss-icon {
    width: 30px;
    height: auto;
    border-radius: 50%;
    margin-right: 5px;
    padding: 5px;
    border: #eaeaea 1px solid;
}

.kakao-icon {
    width: 30px;
    height: auto;
    border-radius: 50%;
    margin-right: 5px;
    padding: 5px;
    background-color: #FEE500;
    border: #eaeaea 0.5px solid;
}